<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Activitypub features review</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script type="module" src="/script.js"></script>
  </head>

  <body>
    <div class="page">
      <h1>ActivityPub features review</h1>

      <section id="subscribe">
        <h3><a href="https://gitlab.com/gitlab-org/gitlab/-/merge_requests/132460">MR !132460</a> ActivityPub Subscriptions</h3>

        <p>Click the "subscribe" button to post a subscription request to the actor
        inbox specified in the text field. You will see the reply from GitLab.</p>

        <p>Then go check the Sinatra's app log. You should see:</p>

        <ul>
          <li>a request to <code>/subscriber/inbox</code>, this is the GitLab server sending the
            Accept activity</li>
          <li>a dump of the request object, you can verify it correctly sets the
            Accept http header to <code>application/ld+json; profile="https://www.w3.org/ns/activitystreams"</code></li>
          <li>a dump of the activity posted, as a JSON object, with type "Accept" and
            containing the initial Follow activity as object.</li>
        </ul>

        <form action="/subscribe" method="POST">
          <label>
            Actor's inbox URL
            <input type="text" class="inbox-url text-field" value="http://<%= @host %>:<%= @port %>/flightjs/Flight/-/releases/inbox">
          </label>

          <button>Subscribe</button>
        </form>

        <div class="logs" style="display: none"></div>
      </section>

      <section id="activity-push">
        <h3><a href="https://gitlab.com/gitlab-org/gitlab/-/merge_requests/134995">MR !134995</a> Add publishing of ActivityPub activities for the releases actor</h3>

        <ol>
          <li>Follow the instruction of previous section, MR !132460, to create a subscription.</li>
          <li>
            <p>Create a new release for the Flight project in GitLab:</p>
            <pre>
flight = Project.find_by_name("Flight")
user = User.first
FactoryBot.create(:release, project: flight, author: user, released_at: Time.now)</pre>
          </li>
          <li>
            <p>In rails console, invoke the cron task:</p>
            <pre>Releases::PublishEventWorker.new.perform</pre>
            <p>⚠️  If someone knows a better way to trigger cron tasks in development environment, please let me know!</p>
          </li>
        </ol>

        <p>Then go check the Sinatra's app log. You should see:</p>

        <ul>
          <li>a request to <code>/subscriber/inbox</code>, this is the GitLab server sending us the activity</li>
          <li>a dump of the request object, you can verify it correctly sets the
            Accept http header to <code>application/ld+json; profile="https://www.w3.org/ns/activitystreams"</code></li>
          <li>a dump of the activity posted, as a JSON object, with type "Create" and
            information about the release as object.</li>
        </ul>
      </section>
    </div>
  </body>
</html>
