body {
  --base-font: 1em;
  --base-line-height: 1.5em;

  --root-spacing-width: 3vw;
  --root-spacing-height: 8vh;

  --primary-color: #f0b90b;
  --secondary-color: #00c582;
  --dark: #0b0e11;
  --lesser-dark: #333;
  --grey: #454545;
  --lesser-light: #666;
  --mid-light: #888;
  --light: #aaa;
  --red: #ab0d0d;
  --green: green;
  --warning-color: #600;
  --warning-bg-color: #faa;
}

body, textarea, input, select {
  font-family: Open Sans, sans-serif; font-size: var(--base-font); line-height: var(--base-line-height);
  color: var(--light); background-color: var(--dark);
}

body, * { box-sizing: border-box !important; }
.page { min-height: 90vh; padding: var(--root-spacing-height) var(--root-spacing-width); }
section { margin-top: 5vh; }

h1 { font-size: calc(var(--base-font) * 1.2); text-align: center; margin: 2vh 0 5vh; }
h3 { font-size: 0.8em; text-transform: uppercase; color: var(--secondary-color); margin: 2vh 0; }
h4 { font-size: 0.8em; text-transform: uppercase; color: var(--primary-color); margin: 2vh 0; }

label { display: block; }

textarea, input.text-field, select.text-field, .checkbox-group {
  width: 100%; border: 1px solid var(--lesser-dark); border-radius: 2px; font-size: 1em;
  line-height: 1.5em; margin: 1vh 0; padding: 1vh 1vw;
}

button, .button {
  border: 1px solid var(--primary-color); background-color: transparent; padding: 1vh 1vw; border-radius: 3px;
  cursor: pointer; font-size: 0.8em;
  background-color: var(--primary-color); color: var(--dark); border-color: var(--primary-color);
}

button:hover, .button:hover {
  background-color: var(--secondary-color); color: var(--dark); border-color: var(--secondary-color);
}


button.link, button.link:hover { background-color: transparent; border: 0 none; cursor: pointer; padding: 0; }
a, button.link { color: var(--light); cursor: pointer; }
a:hover, button.link:hover { color: var(--mid-light); }
a:focus, button.link:focus { border: 1px solid var(--light); }
a.button { text-decoration: none; }
button:focus, a.button:focus { opacity: 0.7; }

ol li::marker { font-weight: bold; }
code, pre, .logs { background-color: var(--lesser-dark); padding: 2px 5px; }
.logs { margin-top: 2vh; }
